html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 3px;
}

button{
  font-size: 16px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 6px;
}

button:hover {
  background-color: cadetblue;
  cursor: pointer;
  color: white;
}
